
:root{
    --main-color:#ffffff;
}

body{
    background-color: #ffffff;
    color: #ffffff;
    
}
.container {
	width: 50%;
    margin: 0 auto;
    border: 8px solid #bb7272;
    background-color: #42032C;
}

.heading{
    font-size: 60px;
    text-transform: uppercase;
    color:transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .30px;
    text-align: center;
    /* pointer-events: none; */
    position: relative;
}

.heading span{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-transform: none;
    color:var(--main-color);
    font-size: 30px;
}