body h1{
    text-align: center;
}

.atas{
    background-color: #42032C ;
    font-weight: 1000;
    color: beige;
}

.tambah{
    align-items: center;
}

.tengah{
    background-color:  #c02587 ;
    font-weight: 1000;
    color: beige;
}