body h1{
    text-align: center;
}

.atas{
    background-color: #42032C ;
    font-weight: 1000;
    color: beige;
}

.tambah{
    align-items: center;
}

.tengah{
    background-color:  #c02587 ;
    font-weight: 1000;
    color: beige;
}



.box-cari{
    width:100%;
    max-width: 500px;
    background: #c02587;
    display: flex;
    border-radius: 60px;
    flex-direction: row;
    padding-left: 50px;
    /* margin-top: 20%; */

}

.box-cari input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 15px;
    /* color: var(--secondary); */
    padding: 10px 0px;
    text-align: left;
    
}

::placeholder{
    color: #051224;

}

.box-cari button img{
    width: 15px;

}

.box-cari button{
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #051224;
    margin-top: 1%;
    margin-right: 7px;
    
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
img {
    width:70px;
}

footer{
    margin-top: 1%;
    color: #051224;
    background-color: #FFF;
    text-align: center;
}